/*-- scss:defaults --*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,400italic,700italic);


// fonts
$font-family-sans-serif: "Roboto Condensed",Roboto, sans-serif !default;



// colors
$body-color: #fffbf2 !default;
$link-color: #007150 !default;